.recent-post .container {
  display: grid;
  gap: 50px;
}

.recent-post-card {
  display: grid;
  gap: 30px;
}

.recent-post-card .card-banner {
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.recent-post-card:is(:hover, :focus-within) .card-banner {
  transform: translateY(-2px);
}

.recent-post-card .card-text {
  color: var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
  line-height: var(--lineHeight-1);
}

.recent-post-card .card-badge {
  background-color: var(--bg-prussian-blue);
  max-width: max-content;
  color: var(--text-white);
  font-size: var(--fontSize-8);
  font-weight: var(--weight-bold);
  padding: 4px 15px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.recent-post-card .card-badge:is(:hover, :focus-visible),
.pagination-btn:is(:hover, :focus-visible) {
  transform: translateY(-2px);
  background-color: var(--bg-carolina-blue);
}

.recent-post-card .card-title {
  margin-block: 15px 20px;
}

.recent-post-card .card-tag {
  gap: 15px;
  color: var(--text-slate-gray);
}

.recent-post-card .card-wrapper i {
  font-size: 1.8rem;
  --ionicon-stroke-width: 40px;
}

.aside-card {
  padding: 25px;
  border-radius: var(--radius-16);
}

.aside-title {
  margin-block-end: 40px;
}

.aside-title .span {
  position: relative;
}

.aside-title .span::after {
  content: "";
  display: block;
  width: 96px;
  height: 3px;
  background-color: var(--bg-carolina-blue);
  margin-block-start: 10px;
}

@media (min-width: 575px) {
  .recent-post-card {
    grid-template-columns: 0.5fr 1fr;
    gap: 20px;
  }
  .aside-title {
    --fontSize-2: 2rem;
  }
}
@media (min-width: 768px) {
  .recent-post-card {
    grid-template-columns: 0.7fr 1fr;
  }
}

@media (min-width: 992px) {
  .recent-post .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: flex-start;
  }
}
