
.feature-bg { display: none; }
  
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-card {
  padding: 20px;
  border-radius: var(--radius-16);
  transition: var(--transition-1);
}

.feature-card:is(:hover, :focus-within) { transform: translateY(-5px); }

.feature-card .card-banner { border-radius: var(--radius-16); }

.feature-card .card-wrapper { margin-block-start: 24px; }

.feature .profile-card :is(.card-title, .card-subtitle) { color: var(--text-slate-gray); }

.feature .profile-card .card-title { font-weight: var(--weight-bold); }

.feature .profile-card .card-subtitle,
.feature .card-wrapper .card-btn { font-size: var(--fontSize-6); }

.feature-card .card-wrapper:last-child {
  font-size: var(--fontSize-4);
  margin-block-end: 0;
}

.feature .card-wrapper .card-btn {
  position: relative;
  color: var(--text-wild-blue-yonder);
  z-index: 1;
}

.feature .card-wrapper .card-btn::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -20px;
  width: 48px;
  height: 48px;
  background-color: var(--bg-oxford-blue-2);
  border-radius: var(--radius-circle);
  z-index: -1;
}

.feature .btn {
  margin-inline: auto;
  margin-block-start: 30px;
}

@media (min-width: 575px) {
  .feature { position: relative; }
  
  .feature-bg {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    pointer-events: none;
  }
}

@media (min-width: 992px){
  .feature-list li:nth-child(-n+2) { width: calc(50% - 15px); }
  
  .feature-list li:nth-child(n+3) { width: calc(33.33% - 20px); }

  .feature-list li:nth-child(n+3) .headline-3 { --fontSize-2: 2rem; }

}