.article-container{
    display: grid;
    column-gap:2rem;
}

.article-title{
    font-size: 4rem;
}
.article-img img{
    width:100%;
    height: auto;
    margin-top: 2rem;
}
.article-details{
    margin-top: 4rem;
    color:white;
}

@media screen and (min-width:300px){
    .article-container{
        grid-template-columns: 1fr;
    }
    .article-title{
        margin-top: 4rem;
        font-size: 3rem;
        margin-bottom: 4rem;
    }
}
@media screen and (min-width:575px){
    .article-container{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:1200px){
    .article-container{
        grid-template-columns:1.5fr 1fr;
    }
}