.popular-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 20px;
}

.popular-card .card-banner {
  width: 54px;
  flex-shrink: 0;
  border-radius: var(--radius-circle);
}

.popular-list > li:not(:last-child) .card-content {
  border-block-end: 1px solid var(--border-prussian-blue);
}

.popular-card .warpper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  font-size: var(--fontSize-6);
  color: var(--text-slate-gray);
  margin-block: 12px 20px;
}
