.footer {
  padding-inline: 20px;
  border-radius: var(--radius-48);
  color: var(--text-wild-blue-yonder);
  margin-block-end: 24px;
}

.footer-top {
  display: grid;
  gap: 20px;
}

.footer-brand .footer-text {
  font-size: var(--fontSize-6);
}

.footer-text:not(.address) {
  margin-block: 20px;
}

.footer-brand .footer-list-title {
  margin-block-end: 2px;
}

.footer-list-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-3);
  margin-block-end: 30px;
}

.footer-list ul {
  columns: 2;
}

.footer-link {
  margin-block-end: 12px;
}

.footer .input-wrapper {
  position: relative;
  margin-block-end: 24px;
}

.footer .input-field {
  padding: 12px;
  padding-inline-start: 20px;
  border-block-end: 1px solid var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
}

.footer .input-field::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

.footer .input-wrapper i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  --ionicon-stroke-width: 40px;
}

.footer-bottom {
  border-block-start: 1px solid var(--border-prussian-blue);
  padding-block: 50px;
}

.copyright {
  text-align: center;
  margin-block-end: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--text-carolina-blue);
  font-style: italic;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
  color: var(--text-carolina-blue);
  transform: translateY(-2px);
}


@media (min-width: 992px){
  .footer-top { grid-template-columns: repeat(3, 1fr); }
  
  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .copyright { margin-block-end: 0; }
}
@media (min-width: 1200px){
  .footer-top {
    gap: 40px;
    padding-inline: 120px;
  }
  .footer-bottom{
    grid-template-columns: 1fr 1fr;
  }
  
}