.about-card {
  padding: 24px;
  border-radius: var(--radius-8);
}

.about-card .card-content {
  margin-block-end: 15px;
}
.about-title {
  background-image: var(--gradient-1);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.about-card .card-text {
  color: var(--text-wild-blue-yonder);
  font-size: var(--fontSize-6);
  margin-block: 15px 20px;
}

.about-content {
  --slider-items: 1;
  overflow: hidden;
}

.slider-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform var(--transition-2);
}

/* @media (min-width: 575px) {
  .topics .section-title {
    font-size: 2rem;
  }
} */

@media (min-width: 992px) {
  .about-card {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 20px;
  }
}
