.social-card .card-text {
  color: var(--text-slate-gray);
  font-weight: var(--weight-bold);
  margin-block: 5px 30px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.social-box {
  border-radius: var(--radius-8);
}
